<h3>Welcome</h3>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>

<dl>
<dl> Next Raid: </dl>
<dt> <%= Time.parse('2014-10-09 02:00:00 -0000'.in_time_zone(@current_zone).to_s).strftime("%I:%M %p %b %d") %> </dt>
</dl>